.app-container {
  background-color: #e63946;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.notebook {
  border: 2px solid #ddd;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fdf5e6;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.header-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.to-do-heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.task-input {
  width: 75%;
  border: 2px solid rgba(0, 0, 0, 0.675) !important;
  border-radius: 12px;
}

.importance-select {
  width: 75%;
  border: 2px solid rgba(0, 0, 0, 0.675) !important;
  border-radius: 12px;
}

.importance-input__label {
  position: relative;
  top: 25% !important;
  right: 75%;
  font-size: 0.8rem;
  font-weight: 600 !important;
}

.add-button {
  width: 75%;
  padding: 0.75rem 0.5rem;
  transition: all 0.3s ease;
}

.add-button:hover {
  cursor: pointer;
  background-color: #2c74c6;
}

.task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 0;
}

.task-list li {
  border-bottom: 2px solid #343434;
}
