.todo__list {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 12px !important;
}